<div class="create-item">
  <form id="create-items" class="border">
    <fieldset>
      <legend>Create a YOLO Item</legend>
      <input type="text" name="item[title]" placeholder="YOLO Item" required>
      <input type="text" name="item[description]" placeholder="Description" required>
      <br>
      <input type="radio" name="item[completed]" value="true"> Completed
      <br>
      <input type="radio" name="item[completed]" value="false" checked> Not yet
      <br>
      <button type="submit" class="create">Submit</button>
    </fieldset>
  </form>
  <br>
</div>
