<form id='create'>
  <fieldset>
    <input type="title" name="item[title]" placeholder="title">
    <input type="description" name="item[description]" placeholder="description">
    <button class="create-item"></button>
  </fieldset>
</form>
