<form class="change-pw" class="border">
  <fieldset>
    <input type='submit' value='Change Password'>
  </fieldset>
</form>

<form id="sign-out">
  <fieldset>
    <input type='submit' value='Sign out'>
  </fieldset>
</form>
