<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">YOLO</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="nav navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Change Password</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <form class='change-password' class = 'border'>
            <fieldset>
              <legend>Change Password</legend>
              <input type="password" name="passwords[old]" placeholder="Current password">
              <input type="password" name="passwords[new]" placeholder ="New password">
              <input type='submit' value='Change Password'>
            </fieldset>
          </form>
        </div>
      </li>
      <li class="nav-item">
        <form id="sign-out">
          <fieldset>
            <button type='submit' class="btn btn-danger" value='Sign out'>Sign Out</button>
          </fieldset>
        </form>
      </li>
    </ul>
    <!-- Links -->
</nav>
<!--/.Navbar-->
