<!-- <form id="update" class="border">
      <fieldset>
        <legend>Edit Yolo Bucket</legend>
          <input type="text" name="item[id]" placeholder="Dropoff ID">
          <input type="text" name="item[name]" placeholder="YOLO Event">
          <input type="text" name="item[description]" placeholder="Description">
          <button class="update-item">Edit</button>
      </fieldset>
  </form> -->
