@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  text-align: center
}

.nav {
  align-items: flex-end;
}

#title {
  background-color: green;
  padding-bottom: 10px;
}

.animated {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomOutDown;
}

#item-display {
  color: $red;
  font-size: 8vh;
}
