@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav {
  align-items: flex-end;
}

#title {
  background-color: green;
  padding-bottom: 10px;
}

.animated {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomOutDown;
  position: relative;
  z-index: -1;
}

#item-display {
  color: $red;
  font-size: 8vh;
}

.content {
  padding-top: 100px;
}

.quoteContainer {
  color: #1B5E20;
  font-family: 'Lora', serif;
  font-size: 20px;
  height: 0;
  margin: auto;
  max-width: 750px;
  padding-top: 100px;
  text-align: center;
}
